<main>
    <div class="content">
        <div class="library">
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div>
            </div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
            <div class="library-item">
                <img src="/asset/img/p_1.jpg" alt="website_first">
                <div class="be-full">
                    <div class="rc-text"><span class="main-text">Vitality x Adidas</span><span class="second-text">UI concept</span></div>
                </div>
                <div class="select-click"></div></div>
        </div>
    </div>
</main>