<main>
    <form action="/insert/project" method="post">
        <label for="name">Name</label>
        <input type="text" class="name">

        <label for="description">Description</label>
        <textarea class="description"></textarea>

        <label for="image">Image</label>
        <input type="image" class="image">

        <label for="main_color">Main Color</label>
        <input type="color" class="main_color">

        <label for="text_color">Secondary Color</label>
        <input type="color" class="text_color">

        <input type="submit" class="submit">
    </form>
</main>